COMPANY_NAME="Acme Inc"

MERCURY_TOKEN=secret-token:mercury_abc
#MERCURY_ACCOUNT_NAME="Mercury Checking ••1234"
#MERCURY_ACCOUNT_ID=11111111-2222-3333-4444-abcdefgh123
#MERCURY_ACCOUNT_NUMBER=012345678901
MERCURY_FROM_DATE=2024-01-01
MERCURY_TO_DATE=2024-12-31

OUTPUT_FORMAT=CAMT54
OUTPUT_FILE=out_camt054.xml